<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddOb</servlet-name>
        <servlet-class>AddOb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveOb</servlet-name>
        <servlet-class>RemoveOb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEvent</servlet-name>
        <servlet-class>AddEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getEvents</servlet-name>
        <servlet-class>getEvents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveEvent</servlet-name>
        <servlet-class>RemoveEvent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMembers</servlet-name>
        <servlet-class>AddMembers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddOb</servlet-name>
        <url-pattern>/AddOb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveOb</servlet-name>
        <url-pattern>/RemoveOb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEvent</servlet-name>
        <url-pattern>/AddEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getEvents</servlet-name>
        <url-pattern>/getEvents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveEvent</servlet-name>
        <url-pattern>/RemoveEvent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMembers</servlet-name>
        <url-pattern>/AddMembers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
